{% extends 'base.html.twig' %}

{% block title %}Crud
{% endblock %}

{% block body %}
	<div class="container" >
		<ul>
			{% for product in products %}
				<li>
					<a href="{{ path('product', { id: product.id }) }}">{{ product.name }}</a>
					<span class="float-right">
						<a class="edit" href="{{ path('edit_product', { id: product.id }) }}">
							<i class="fas fa-edit"></i>
						</a>
						<a class="remove" href="{{ path('delete_product', { id: product.id }) }}">
							<i class="fas fa-trash"></i>
						</a>
					</span>
				</li>
			{% endfor %}
		</ul>

	<a href="{{ path('add_product') }}" class="btn btn-primary">
		<i class="fas fa-plus-circle"></i>
		Ajouter un bien</a>
	</div>
{% endblock %}
