{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - {{ product.name }}{% endblock %}

{% block body %}
<div class="container">
<h1>Nom : {{ product.name }}</h1>
<p>Description : {{ product.description }}</p>
<p>Proprietaire: {{ product.owner }}</p>
<p>Prix : {{ product.price }}€</p>
<p>Nombre de lit : {{ product.bed }}</p>
</div>
{% endblock %}