body {
  background-color: lightgrey;
}

a {
  text-decoration: none;
}

.fas { margin: 0 5px; }
.fa-edit { color: #000; }
.fa-trash { color: #FF0000; }

a:hover { color: darkorange; }

ul{
  list-style: none;
}

.container{
  border: solid black 2px;
  margin-top: 100px;
  padding: 25px;
  text-align: center;

}
header{
  background-color: #000;
  padding: 10px 0;
  text-align: center;
}
